
.filter{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.display-form{
    text-align: center;
    width: 100%;
    border: 2px solid;
    border-collapse: collapse;
}

.header{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.background{
    background-image: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZXogWE_CDq_W4mBdFuGrwK9_3jdDLTFg2gg&usqp=CAU";
}

.rows{
    border: 2px solid;
    border-collapse: collapse;
}